---
import Experiencia from '../components/Experiencia.astro';
import Presentacion from '../components/Presentacion.astro';
import SobreMi from '../components/SobreMi.astro';
import Layout from '../layouts/Layout.astro';
import Proyecto from '../components/Proyecto.astro';
---

<Layout title="Portafolio de Ruben">
	<main class="w-full max-w-[720px] m-auto p-10 mt-10 flex flex-col gap-[100px]">
		<!-- presentacion -->
		<Presentacion/>
	 	<!-- #About -->
		<Experiencia/>
		<!-- #exoeriencias -->
		<SobreMi/>
		<!-- #proyecto -->
		<Proyecto/>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
	main{
		color: white;
		font-family: "Inconsolata", monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings:
			"wdth" 100;
	}

</style>
