---
    import IconName from "./IconName.astro"
    import ayudinga from "/ayudinga.svg"
---

<section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold text-right">
        Experiencia
    </h1>
    <div class=" border-r-8 border-purple-600 flex flex-col items-center">
        <div class="flex flex-col gap-5 mr-8 mb-8">
            <p>
                Soy <strong>voluntariado</strong> en una fundacion llamada 
                Fundaciona Ayudinga en Panamá.
            </p>
            <p>
                Mi labor dentro de la fundación es 
                <strong>front-end developer ayudando a estilar, 
                    crear y fixear su pagina web</strong> , también ayudando 
                en la creación de componentes en su <strong>design system</strong>.
            </p>
            <ul class="list-disc">
               <li><p> Fui participe de la creacion de su pagina web, en la que usamos tecgnologia como NextJs.</p></li>
               <li><p> Ayude en la creacion de un disign-system usando Stoorybook, Sass, NextJs.</p></li>
               <li><p> y colaborando en un proyecto de gestión de cursos.</p></li> 
            </ul>
        </div>

        <a href="https://ayudinga.org/" target="_blank">
            <button>
                <IconName icon="/ayudinga.svg" name="Para más información" iconSize="150"/>
            </button>
        </a>
    </div>
</section>