---
    import IconName from "./IconName.astro"
    import ayudinga from "/ayudinga.svg"
---

<section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold text-right">
        Experiencia
    </h1>
    <div class=" border-r-8 border-purple-600 flex flex-col items-center">
        <div class="flex flex-col gap-5 mr-8 mb-8">
            <p>
                Soy <strong>voluntariado</strong> en una fundacion llamada 
                Fundaciona Ayudinga en Panamá.
            </p>
            <p>
                Mi rol en la fundación es 
                <strong>front-end developer ayudando a implementar el diseño y arreglando bugs de funcionalidades y de diseño</strong>, también ayudando 
                en la creación de componentes de <strong>ReactJs</strong> en su <strong>sistema de diseño</strong>.
            </p>
            <ul class="list-disc">
               <li><p> Fui participante de la creación de su página web Ayudinga.org, en la que usamos tecnología como NextJs y SASS.</p></li>
               <li><p> Ayudé en la creación de componentes de ReactJs en su sistema de diseño usando tecnología como: Storybook, Sass, NextJs.</p></li>
               <li><p> Actualmente colaborando en su proyecto de gestión de cursos (SEVA-STAFF) usando tecnología como: NextJs, Typescript y TailwindCSS.</p></li> 
            </ul>
        </div>

        <a href="https://ayudinga.org/" target="_blank">
            <button>
                <IconName icon="/ayudinga.svg" name="Para más información" class="[&&]:max-w-[150px]" iconSize="150"/>
            </button>
        </a>
    </div>
</section>