---
import type { HTMLAttributes } from "astro/types"; 
interface Props extends HTMLAttributes<'div'> {
    icon: string;
    name?: string;
    iconSize?: string 
}
const { 
    icon , name , iconSize, ...rest
} = Astro.props
---

<div {...rest} class="flex flex-col justify-center items-center span-1 h-max relative background-Image p-8 rounded-full">
    <img src={icon} alt={name} loading="lazy" width={iconSize}/>
    <span class="block text-xl">{name}</span>
</div>

<style>
    .background-Image{
        background-image: radial-gradient(circle at center, #110834 0, #110834 100%);
        transition: background-image 1s ease-in-out;
    }
    .background-Image:hover{
        background-image: radial-gradient(circle at center ,rgba(255, 255, 255, 0.548) 0 ,#11083400 , #11083400 120%);
    }
</style>