---
import { Image } from "astro:assets";
import ProyectoCard from "./ProyectoCard.astro";


---

<section class="flex flex-col items-center justify-center gap-4">
    <div class="text-3xl font-bold">
        <h1/>
            Mis Proyectos personales
        </h1>
    </div>
    <div class="gridSection max-w-[1000px] w-full gap-3 flex flex-wrap justify-center">
        <ProyectoCard 
        image="Proyecto MH API.png"
        status="deployed"
        title="Monster Hunter API"
        gitUrl="https://github.com/N0oCh1/proyecto-Front-end-MHW"
        link="https://proyecto-front-end-mhw.vercel.app/"
        tecnology={["css", "html", "javascript"]}
        >
            Este proyecto se creo como finalidad de consumir una APIrest y mostrarla en una pagina web, se uso HTML, CSS y JavaScript.
            <br/>
            Esta fue una propuesta para un proyecto de asignatura de la universidad. 
            actualmente la API no esta en funcinamiento.
        </ProyectoCard> 
        <ProyectoCard 
        image="ProyectoAPI.png"
        status="onlyGit"
        gitUrl="https://github.com/N0oCh1/Proyecto-API-MHW"
        title="API MH"
        tecnology={["cs", "postgresql"]}
        >
           Como parte del proyecto habia que crear un back-end y se uso C# y PostgreSQL no esta en deploy por motivos.
        </ProyectoCard> 

    </div>
</section>

<style>
    

</style>