---
import { Image } from "astro:assets";
import ProyectoCard from "./ProyectoCard.astro";


---

<section class="flex flex-col items-center justify-center">
    <div class="text-3xl font-bold">
        <h1/>
            Mis Proyectos
        </h1>
    </div>
    <!-- #Vento -->
    <div class="gridSection max-w-[1000px] w-full gap-3 flex flex-col">
        <ProyectoCard 
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6AAbTgrDoBLsKzmru5JlG0T0WqlwAO7GPMaF0k7HZAw&s"
        status="deploy"
        title="Sample title"
        tecnology={["astro", "tailwind", "nextjs", "css", "html", "javascript", "react"]}
        >
            Sample description
        </ProyectoCard> 
    </div>
</section>

<style>
    

</style>