---
import IconName from "./IconName.astro";


---

<section class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold">
        Sobre Mi
    </h1>
    <div class="border-l-8 border-blue-500 ">
        <p class="ml-5">
            Hola soy <strong>Ruben Feng</strong>, desarrollador front-end de Panam치 con ganas de aprender m치s y convertirme en un desarrollador full-stack, 
            actualmente soy universitario de la Universidad Tecnol칩gica de Panam치 cursando la carrera 
            de desarrollador de software.
        </p>
        <div class="flex flex-col gap-8 mt-6 items-center">
            <h1 class="text-2xl font-bold">
                Tecnologia que uso
            </h1>
            <div class="flex flex-row items-center justify-center w-full h-[300px] overflow-hidden relative">
                <div class="carrusel1">
                    <IconName icon='javascript.svg' name='JavaScript' />
                    <IconName icon='html.svg' name='HTML' />
                    <IconName icon='react.svg' name='React' />
                    <IconName icon='nextjs.svg' name='NextJS' />
                    <IconName icon='typescript.svg' name='TypeScript' />
                    <IconName icon='javascript.svg' name='JavaScript' />
                    <IconName icon='html.svg' name='HTML' />
                    <IconName icon='react.svg' name='React' />
                    <IconName icon='nextjs.svg' name='NextJS' />
                    <IconName icon='typescript.svg' name='TypeScript' />
                </div>
                <div class="carrusel">
                    <IconName icon='tailwind.svg' name='Tailwind' />
                    <IconName icon='astro.svg' name='Astro' />
                    <IconName icon='git.svg' name='Git' />
                    <IconName icon='storybook.svg' name='Storybook' />
                    <IconName icon='css.svg' name='CSS' />
                    <IconName icon='tailwind.svg' name='Tailwind' />
                    <IconName icon='astro.svg' name='Astro' />
                    <IconName icon='git.svg' name='Git' />
                    <IconName icon='storybook.svg' name='Storybook' />
                    <IconName icon='css.svg' name='CSS' />
                    
                </div>

            </div>
        </div>
    </div>
</section>


<style>
.carrusel{
    position: absolute;
    display: flex;
    gap:4px;
    left: -150px;
    top: 200px;
    will-change: transform;
    animation: slide 10s linear infinite;
}
.carrusel1{
    position:absolute;
    display: flex;
    left: 50px;
    top: 200px;
    will-change: transform;
    animation: slide1 10s linear infinite;
}
@media (max-width:400px){
    .carrusel{
        left: -300px;
    }
    .carrusel1{
        left: -100px
    }
}
@keyframes slide {
    0% {
        transform: translate(80px, 80px) rotate(45deg);
    }
    100% {
        transform: translate(-260px, -260px) rotate(45deg);

    }
}
@keyframes slide1 {
    0% {
        transform: translate(-275px, -275px) rotate(45deg);
    }
    100% {
        transform: translate(50px, 50px) rotate(45deg);
    }
}
</style>